* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    opacity: 1;
    transition: all .3s ease;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #dedede;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img1.jpeg');
}
.card[for="c2"] {
    background-image: url('./img2.jpeg');
}
.card[for="c3"] {
    background-image: url('./img3.jpeg');
}
.card[for="c4"] {
    background-image: url('./img4.jpeg');
}

/***************/ 

/* poppins-100 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/poppins-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-100.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-200 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/poppins-v20-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-200.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/poppins-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.description .card {
    position: relative;
    width: 350px;
    height: 190px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px, rgba(0,0,0,0.15);
    transition: 0.5s;
    cursor: default;
    overflow: unset;
}
.description .card:hover {
    height: 300px;
}
.description .imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.description .card:hover .imgBx {
    width: 200px;
    height: 200px;
}
.description .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 5% 35%;
}
.description .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.description .card .content .details {
    padding: 60px 30px;
    text-align: center;
    width: 100%;
    /*transition: 0.5s;*/
    transition: all 0.5s ease 0s;
    transform: translateY(100px);
}
.description .card:hover .content .details {
    transform: translateY(0);
    padding-bottom: 20px;
    padding-top: 20px;
}
.description .card .content .details h2 {
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.description .card .content .details h2 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
.description .card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.description .card .content .details .data h3 {
    font-size: 1em;
    color: #555;
    line-height: 1.2em;
    font-weight: 600;
}
.description .card .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}
.description .card .content .details .actionBtn {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.description .card .content .details .actionBtn button {
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #4169E1;
    color: #fff;
    cursor: pointer;
}

.description .card .content .details .actionBtn button a {
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
}

/**************************/

.card > .row {
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
}

.card > .row > .description {
    height: 380px;
    justify-content: end;
}

.card > .row > .icon {
    writing-mode: sideways-lr;
    background: none;
    cursor: pointer;
    height: 370px;
    justify-content: start;
}

.description > .card:first-of-type {
    margin: 40px auto 0;
}

.container > .card:first-of-type > .row {
    position: relative;
}

.container > .card:first-of-type > .row > .icon {
    position: absolute;
    bottom: 0;
}

.container > .card:first-of-type > .row > .description {
    height: 400px;
    width: 485px;
    justify-content: center;
    position: relative;
    left: 60px;
}

input:checked + label .row .icon {
    opacity: 0;
}

.description p a {
    color: white;
    text-decoration: underline;
}